#root{
    overflow-y: auto;
    overflow-x: hidden;
    height: 441px;
}

.content{
    width: 240px;
    background-color: #f1f1f1;
    display: block;
    padding: 25px;
}

.button{
    background-color: orange;
    box-shadow: 1.5px 1.5px 0px 0 black;
    height: 25px;
    width: 100%;
    border: 2px solid black;
}

#inputText{
    border: 1px solid black;
    width: 96%;
    height: 20px;
    margin-left: 3px;
    padding: 2px;
    margin-bottom: 5px;
}